extends layout.pug

block content
  main.content
    h1.form-title Add employee form


    
    if errorPosition
      p.error Please insert the Position
    else if errorName 
      p.error Sorry, Name cannot be empty!
    else if errorAge
      p.error Sorry, Age cannot be empty or less than 18!

    if success
      p.success Data is saved!

    
    form.form(method='POST' action='/create')
      label Position
      input.input(type="text" name='position')

      label Name
      input.input(type='text' name='name')

      label Age
      input.input(type="number" name="age")

      button.btn Add