extends layout.pug

block content
  main.details
    h1.record-name Name : 
      span #{ record.name }
    p.record-age Age : 
      span #{ record.age }
    p.record-position Position : 
      span #{ record.position }
  
  