extends layout.pug

block content
  main.content
    h1.record-title Name : #{ record.title }
    p.record-desc Description: #{ record.description }
    p.position Position: #{ record.position }
  
  