extends layout.pug

block content
  main.content
    h1.all-employees All employees

    each value in recordList
      div.record-wrapper
        a.record(href=`/records/${  value.id }`)= value.name
        a.delete(href=`/${ value.id }/delete`) Delete